* {
  box-sizing: border-box;
}
.otherDays__maxAndMin {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.otherDays__max {
}

.otherDays__min {
}

.otherDays__icon {
}

.otherDays__day,
.otherDays__maxAndMin {
  display: flex;
  justify-content: center;
}

.otherDays__shortInfo {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
