* {
  border: 1px solid green;
  padding: 10px;
}

.weather {
  display: flex;
  flex-direction: column;
}

.weather__celsius {
  font-size: 100px;
  flex-grow: 1;
}

.weather__clouds {
}

.weather__humidity {
}

.weather__icon {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.weather__iconDescription {
}

.weather__image {
}

.weather__info {
  border: 1px solid blue;
  display: flex;
  flex-direction: row;
}

.weather__maxAndMin {
}

.weather__otherInfo {
  display: flex;
  flex-direction: row;
}

.weather__perceivedTemperature {
  display: flex;
  align-content: flex-end;
}

.weather__pressure {
}

.weather__sunrise {
}

.weather__sunset {
}

.weather__temperature {
  display: flex;
  flex-direction: column;
}

.weather__time {
}

.weather__visibility {
}

.weather__wind {
}

.weather__windDirection {
}
