p {
  display: flex;
  justify-content: center;
}

.weather {
  display: flex;
  flex-direction: column;
}

.weather__celsius {
  font-size: 75px;
  flex-grow: 1;
  align-self: center;
  padding: 10px;
}

.weather__clouds {
}

.weather__date {
}

.weather__humidity {
}

.weather__icon {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.weather__iconDescription {
}

.weather__image {
  display: flex;
  align-self: center;
  max-width: 100px;
  max-height: 100px;
  min-width: 75px;
  min-height: 75px;
}

.weather__info {
  border: 1px solid rgb(12, 12, 92);
  display: flex;
  flex-direction: column;
}

.weather__max {
  margin-right: 10px;
}

.weather__min {
  margin-left: 10px;
}

.weather__maxAndMin {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.weather__otherDays {
  display: flex;
  flex-direction: row;
}

.weather__otherInfo {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.weather__perceivedTemperature {
  padding-top: 5px;
  padding-bottom: 5px;
  align-self: center;
}

.weather__pressure {
}

.weather__shortInfo {
  border: 1px solid pink;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.weather__sunrise {
}

.weather__sunset {
}

.weather__temperature {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-content: center;
}

.weather__time {
  padding: 5px;
}

.weather__visibility {
}

.weather__wind {
  border: 1px solid rgb(85, 60, 13);
  display: flex;
  flex-direction: column;
}

.weather__windforce {
  justify-items: center;
}

.weather__windDirection {
}

.weather__windProp {
  display: flex;
  flex-direction: row;
}

.weather__windSpeed {
}

.weather__windTitle {
  display: flex;
  align-self: center;
}
