* {
  box-sizing: content-box;
}

.weather__celsius {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.weather__currentTemperature {
  display: flex;
  justify-content: center;
  align-self: center;
  font-size: 75px;
  font-weight: 550;
}

.weather__humidityData {
  display: flex;
  align-self: center;
}

.weather__icon {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.weather__iconDescription {
  display: flex;
}

.weather__image {
  width: 100%;
  display: flex;
  width: 100px;
  height: 100px;
}

.weather__info {
  display: flex;
  flex-direction: column;
}

.weather__otherDays {
  margin-top: 15px;
  padding: 10px;
  width: 100%;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
}

.weather__otherInfo {
  margin-top: 10px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
}

.weather__perceivedTemperature {
  display: flex;
  justify-content: center;
  font-size: 13px;
}

.weather__pressure,
.weather__humidity {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.weather__pressureData {
  padding: 5px;
}

.weather__sunrise,
.weather__sunset,
.weather__visibility,
.weather__cloudiness {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather__temperature {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: auto;
  margin-top: 15px;
  width: 100%;
  grid-gap: 20px;
}

.weather__time {
  display: flex;
  justify-content: center;
}

.weather__wind {
  padding: 5px;
  display: grid;
  grid-column: span 2;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
}

.weather__wind p,
.weather__humidity p,
.weather__sunrise p,
.weather__sunset p,
.weather__visibility p,
.weather__cloudiness p {
  padding: 5px;
}

.weather__windDirection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather__windSpeed {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather__windTitle {
  grid-column: span 2;
  display: flex;
  justify-content: center;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}
